{{#linkTo month.index previousMonth.year previousMonth }}prev{{/linkTo}}
{{ monthName }} {{ year.id }}
{{#linkTo month.index nextMonth.year nextMonth }}next{{/linkTo}}
<br />

<table>
  {{#each week in weeks}}
    <tr>
      {{#each day in week.days}}
        <td>{{ day }}</td>
      {{/each}}
    </tr>
  {{/each}}
</table>